@using ShopShop.Models
@model CartCollection

<header>
    <!-- Progress Section -->
    <div class="d-flex justify-content-center align-items-center pb-3">
        <div class="px-sm-5 px-2 active">SHOPPING CART  <span class="fas fa-check"></span></div>
        <div class="px-sm-5 px-2  ">CHECKOUT </div>
        <div class="px-sm-5 px-2 ">FINISH </div>
    </div>
    <!-- Progress Bar -->
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <h1 style="color: orangered;">Bag</h1>
        <hr />
        @if (Model.CartItems.Count == 0)
        {
            <div class="alert alert-warning">There are No Products in Your Bag!</div>
        }
        else
        {
            <div class="col-8" style="height: 600px; overflow-y: scroll;">
                <table class="table ">
                    <tbody>
                        @foreach (var cart in Model.CartItems)
                        {
                            <tr class=" text-dark">
                                <td style="text-align: center; vertical-align: middle;"><img src="@cart.Product.ImageUrl" style="width: 120px; height: 150px;" />Image</td>
                                <td style="text-align: center; vertical-align: middle;"><a style="text-decoration: underline;" asp-controller="Products" asp-action="Details" asp-route-productID="@cart.Product.ID">@cart.Product.Name</a>Products Name </td>
                                <td style="text-align: center; vertical-align: middle;"> Piece :<span class="font-weight-bold">@cart.Quantity</span>Bag</td>
                                <td style="text-align: center; vertical-align: middle; color: orangered;">@(cart.Product.Price * @cart.Quantity) TL</td>
                                <td style="text-align: center; vertical-align: middle;"><a class="sil" data-id="@cart.Product.ID" asp-controller="Cart" asp-action="Basket"><i style="color: red;" class="fa-solid fa-trash"></i></a></td>
                            </tr>
                        }
            </div>

            <div class="col-3">
                <div style="background-color: white; padding: 15px;">
                    <h5 style="font-weight: bold; color: orangered;">Cart Details</h5>
                    <hr />
                    <p>There are <span style="color: orangered; font-weight: bold;">@Model.CartItems.Count</span>  Products in the basket </p>
                    <p>Shipping Fee : <span class="text-success font-weight-bold">Free</span></p>
                    <p>Total  : <span class="font-weight-bold" style="color: orangered;"> @Model.GetTotalPrice().ToString("0.00") TL</span></p>
                    <a href="/Cart/Checkout" class="btn btn-success text-light" style="padding: 10px 0px; display: block; font-weight: bold;">To Pay</a>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.sil').on('click',
                function () {
                    let id = $(this).data('id');
                    $.ajax({
                        url: '/Cart/Delete/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            alertify.warning(data);
                        }
                    });
                });
        });
    </script>
}
